<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= product.name %></title>
    <link rel="stylesheet" href="/css/productDetails.css">

</head>
<body>
    <div class="container">
        <h1><%= product.name %></h1>
        <img src="<%= product.image %>" alt="<%= product.name %>" style="width:300px;">
        <p><%= product.description %></p>
        <p class="price">$<%= product.price %></p>
        <button class="btn">Add to Cart</button>
    </div>
</body>
</html>
